# {{ ansible_managed }}
NODE_PATH={{ camo_path }}/node_modules
NODE_TLS_REJECT_UNAUTHORIZED=0
CAMO_PORT="{{ camo_port }}"
CAMO_HEADER_VIA="{{ camo_header_via }}"
CAMO_KEY="{{ camo_key }}"
CAMO_LENGTH_LIMIT="{{ camo_content_length }}"
CAMO_LOGGING_ENABLED="{{ camo_logging_enabled }}"
CAMO_MAX_REDIRECTS="{{ camo_max_redirects }}"
CAMO_SOCKET_TIMEOUT="{{ camo_socket_timeout }}"
CAMO_TIMING_ALLOW_ORIGIN="{{ camo_time_allowing_origin }}"
CAMO_HOSTNAME="{{ camo_hostname }}"
CAMO_KEEP_ALIVE="{{ camo_keep_alive }}"
